@model Queries.Core.ViewModels.MyViewModel

@{
    var temp = Model.Shared;
}



<div class="row">
    <div class="col-xs-12 text-center">
        <h2>TeacherIndex</h2>
        @using (Html.BeginForm("UploadDocument", "FileTransfer"))
        {

            <select id="ClassUnitID" name="ClassUnitID">
                @foreach (var item in Model.ClassUnits)
                {

                    <option value="@item.ClassUnitID">@item.ClassName</option>
                }
            </select>

            <button name="upload" type="submit" value="Shared" class="btn btn-default">Shared</button>
        }

        <br />
        <a href='@Url.Action("Index", "Users")'>Manage users</a>


        <br />
        <a href='@Url.Action("Index", "ClassUnits")'>Manage classes</a>

    </div>
</div>



@using (Html.BeginForm("TeacherIndex", "Home"))
{
    
    <select id="ClassUnitID" name="ClassUnitID" onchange="this.form.submit();">
        <option value="null">Choose class....</option>
        @foreach (var item in Model.ClassUnits)
        {
            <option value="@item.ClassUnitID">@item.ClassName</option>
        }
    </select>


}


<div class="row">
    <div class="col-xs-6 text-center">
        <h3 class="col-xs-12">Shared Files</h3>
        <div class="col-xs-12">
            @Html.Partial("ShowFiles", Model.Shared)
        </div>
    </div>

    <div class="col-xs-6 text-center">
        <h3 class="col-xs-12">Submitted Files</h3>
        <div class="col-xs-12">
            @Html.Partial("ShowFiles", Model.Submission)
        </div>
    </div>
</div>

