@model Queries.Core.ViewModels.MyViewModel







<link href="~/Content/Styles.css" rel="stylesheet" />


@using (Html.BeginForm())
{

<h2>TeacherIndex</h2>

@Html.DropDownList("ClassUnitID", new SelectList(Model.ClassUnits, "ClassUnitID", "ClassName"))

<a href='@Url.Action("UploadDocumentShared", "FileTransfer", new { ClassUnitID = value })' style="text-decoration:none;" class=" button-wrap" role="button">Upload to Shared</a>

<br />

<a href='@Url.Action("UploadDocumentSubmission", "FileTransfer")' style="text-decoration:none;" class=" button-wrap" role="button">Upload to Submission</a>

<br />



@Html.ActionLink("Files avalible for download", "Show", "FileTransfer")

<br />
<a href='@Url.Action("Index", "Users")'>Manage users</a>




<br />
<a href='@Url.Action("Index", "ClassUnits")'>Manage classes</a>



}

