<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @*    @Styles.Render("~/Content/css")*@
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="/Content/bootstrap-slate.min.css" />
    <link rel="stylesheet" href="/Content/font-awesome.min.css" />
    <link rel="stylesheet" href="/Content/site.css" />
    <meta name="description" content="The description of my page" />
</head>
<body ng-app="app">

    <menu-bar brand="'Study'">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li>@Html.ActionLink("ShowAllUsers", "ShowAllUsers", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    </menu-bar>

    <div ng-controller="MainCtrl">
    <div class="container body-content">
        <ui-view>
            @RenderBody()
        </ui-view>

        <hr />

        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>
    </div>

    <script src="/Scripts/jquery-1.10.2.min.js"></script>
    <!--<script src="/Scripts/bootstrap-without-jquery.min.js"></script>-->
    <!--<script src="/Scripts/bootstrap.min.js"></script>-->
    <script src="/Scripts/lodash.custom.min.js"></script>
    <script src="/Scripts/angular.js"></script>
    <script src="/Scripts/angular-ui-router.js"></script>
    <script src="/Scripts/angular-resource.js"></script>
    <script src="/Scripts/angular-animate.js"></script>
    <script src="/App/services.js"></script>
    <script src="/App/common.js"></script>
    <script src="/App/app.module.js"></script>
    <script src="/App/directives.js"></script>
    <script src="/App/navbar/index.js"></script>
    <script src="/App/students/index.js"></script>
    <script src="/App/classunits/index.js"></script>
    <script src="/App/login/index.js"></script>
    <script src="/App/logout/index.js"></script>
    <script src="/App/register/index.js"></script>
    <!--<script src="/App/employeeCtrl.js"></script>-->
    <script src="/App/router.js"></script></body>
    @*@Scripts.Render("~/bundles/jquery")*@
    @*@Scripts.Render("~/bundles/bootstrap")*@
    @*<script src="~/Scripts/angular.js"></script>*@
    @*<script src="~/App/Module.js"></script>*@
    @*@RenderSection("scripts", required: false)*@
</html>
