<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My ASP.NET Application</title>
    @*@Styles.Render("~/Content/css")*@
    @*@Scripts.Render("~/bundles/modernizr")*@
    <link rel="stylesheet" href="/Content/bootstrap-slate.min.css">
    @*<link rel="stylesheet" href="/Content/font-awesome.min.css">*@
    <link rel="stylesheet" href="/Content/site.css">
    <link href="~/Content/Files.css" rel="stylesheet" />
</head>
<body ng-app="app">

    <div ng-controller="MainCtrl">
    <div ng-init="init('@Html.Raw(ViewBag.IsAuthenticated)')" />
        <menu-bar brand="'Study'">
            <div class="navbar navbar-inverse navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li>@Html.ActionLink("Hem", "Index", "Home")</li>
                            <li>@Html.ActionLink("Users","Index","Users")</li>
                            <li>@Html.ActionLink("Register New User", "Register", "Users")</li>
                        </ul>
                        @Html.Partial("_LoginPartial")
                    </div>
                </div>
            </div>
        </menu-bar>

        <div class="container body-content">
            @* Här rederas allt innehåll in till dokumentet *@
            @RenderBody()

            <ui-view></ui-view>

            <br />
            <footer>
                <p>&copy; 2017 - Studygroup</p>
            </footer>
        </div>
    </div>
    </div>

    @*@Scripts.Render("~/bundles/angular")*@
    @*@Scripts.Render("~/bundles/app")*@
    @RenderSection("scripts", required: false)

</body>
</html>
